@font-face {
  font-family: MullerLightItalic;
  src: url(./assets/fonts/MullerLightItalic.ttf);
}

@font-face {
  font-family: MullerRegular;
  src: url(./assets/fonts/MullerRegular.ttf);
}

@font-face {
  font-family: MullerRegularItalic;
  src: url(./assets/fonts/MullerRegularItalic.ttf);
}


@font-face {
  font-family: MullerBold;
  src: url(./assets/fonts/MullerBold.ttf)
}

@font-face {
  font-family: MullerMedium;
  src: url(./assets/fonts/MullerMedium.ttf);
}

/* Custom properties */
:root {
  --green: #0C5B28;
  --lightgreen: #0c5b28bd;
  --yellow: #FBBC04;
  --gray: #999EA3;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
/* border: 0 !important; */
}

body{
  font-family: MullerRegular;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: MullerBold;
}

h3,
h4,
li, button {
  font-family: MullerMedium;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 300ms;
}

a:hover {
  opacity: .5;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* Fuentes */
.font-light-italic {
  font-family: MullerLightItalic;
}

.font-regular {
  font-family: MullerRegular;
}

.font-italic {
  font-family: MullerRegularItalic;
}

.font-bold {
  font-family: MullerBold;
}

.font-medium {
  font-family: MullerMedium;
}

/* Clases con los colores de la marca */
.clr-green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
  color: #FFF;
}

.clr-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
  color: #000;
}
.clr-gray {
  color: var(--gray);
}

.clr-white {
color: #ffffff;
}

.bg-gray {
  background-color: var(--gray);
  color: #000;
}

#about,
#servicios,
#contacto {
  scroll-margin-top: 85px;
}

.btn-primary {
  background-color: var(--green);
  color: #fff;
  transition: all .3s;
}
.btn-primary:hover {
  background-color: #0f6d30;
}

.btn-secondary {
  background-color: var(--yellow);
  transition: all .3s;
  color: #000;
}

.btn-secondary:hover {
  background-color: #c29200;
}

.sendingBlock {
  cursor: none;
}

@media (hover: none) {
  .flip div:nth-child(1) {
    transform: perspective(1000px) rotateY(180deg);
  }
  
  .flip div:nth-child(2) {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.serviceSecondary {
  width: 300px;
}

.formCompleted { 
  background-color: #E8F0FD !important;
  color: #000 !important;
}

.b1 {
  border: 5px solid red;
}

.formInactiveBtn {
 background-color: #3D7C53 !important;
 color: #fff !important;
}

