@font-face {
  font-family: MullerLightItalic;
  src: url(./assets/fonts/MullerLightItalic.ttf);
}

@font-face {
  font-family: MullerRegular;
  src: url(./assets/fonts/MullerRegular.ttf);
}

@font-face {
  font-family: MullerExtraBold;
  src: url(./assets/fonts/MullerExtraBold.ttf)
}

@font-face {
  font-family: MullerMedium;
  src: url(./assets/fonts/MullerMedium.ttf);
}

/* Custom properties */
:root {
  --green: #0C5B28;
  --lightgreen: #0c5b28bd;
  --yellow: #FBBC04;
  --gray: #999EA3;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
/* border: 0 !important; */
}

body{
  font-family: MullerRegular;
}

h1,
h2 {
  font-family: MullerExtraBold;
}

h3,
h4,
li, button {
  font-family: MullerMedium;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 300ms;
}

a:hover {
  opacity: .5;
}

/* Fuentes */
.font-light-italic {
  font-family: MullerLightItalic;
}

.font-regular {
  font-family: MullerRegular;
}

.font-bold {
  font-family: MullerExtraBold;
}

.font-medium {
  font-family: MullerMedium;
}

/* Clases con los colores de la marca */
.clr-green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
  color: #FFF;
}

.clr-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
  color: #000;
}
.clr-gray {
  color: var(--gray);
}

.clr-white {
color: #ffffff;
}

.bg-gray {
  background-color: var(--gray);
  color: #000;
}


.bor-1r {
border: 3px solid red;
}

.bor-1b {
  border: 3px solid blue;
}

.bor-1g {
  border: 3px solid green;
}

.bor-2r {
  border: 6px solid red;
}
    
.bor-2b {
  border: 6px solid blue;
}

.bor-2g {
  border: 6px solid green;
}
